body.active-modal {
    overflow-y: hidden;
}

.modal-1, .modal-2, .modal-3, .modal-4{
    /* padding: 10px 20px; */
    margin: 100px auto 0;
    width: 40%;
    height: 350px;
    background-size: cover;
    border: none;
    display: flex;
    box-shadow: 3px 5px 15px 0 rgba(155, 161, 173, 0.2), -3px 3px 3px 3px rgba(230, 234, 238, 0.2);
}

.modal-1 {
    background-image: url('../img/CaptureBooki.png');
}

.modal-2{
    background-image: url('../img/CapturePortfolio.png');
}

.modal-3{
    background-image: url('../img/CaptureKasa.png');
}

.modal-4{
    background-image: url('../img/CaptureSiteLivre.png');
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}